.Card-article.flex-container {
    flex-flow: column nowrap;
    flex-basis: 20%;
    border-radius: 5px;
    box-shadow: 2px 1px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 1px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 21px 0px rgba(0, 0, 0, 0.75);
    padding: .8rem;
    background: rgb(15, 15, 15);
    background: linear-gradient(0deg, rgba(15, 15, 15, 1) 0%, rgba(28, 27, 27, 1) 70%);
}

.Card-article.flex-container:hover {
    transition: all .8s ease;
    background: rgb(24, 24, 24);
    background: linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(14, 14, 14, 1) 70%);
}

.Card-img {
    border-radius: .2rem;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
    position: relative;
}

.Card-h3 {}

.Card-p {}

.Card-play {
    background-color: rgb(132, 209, 16);
    border-radius: 50%;
    position: absolute;
    padding: .5rem;
    bottom: 5%;
    right: 5%;
}

.button-play {
    width: 2rem;
    height: 2rem;
}