<div class="footer flex-container">
  <div class="footer-cat flex-container">
    <ul class="footer-item flex-container Listas-ul">
      <h3>Compañia</h3>
      <li>
        <a href="" > Acerca de </a>
      </li>
      <li>
        <a href="" > Empleo </a>
      </li>
      <li>
        <a href="" > Foros de ayuda </a>
      </li>
    </ul>
    <ul class="footer-item flex-container Listas-ul">
      <h3>Comunidad</h3>
      <li>
        <a href="" > Directrices </a>
      </li>
      <li>
        <a href="" > Discuciones </a>
      </li>
      <li>
        <a href="" > Publicidad </a>
      </li>
    </ul>
    <ul class="footer-item flex-container Listas-ul">
      <h3>Enlaces útiles</h3>
      <li>
        <a href="" > Términos de uso </a>
      </li>
      <li>
        <a href="" > Política de privacidad </a>
      </li>
    </ul>
  </div>
  <div class="flex-container">
    <a href="" class="social-a flex-container">
      <img src="/assets/instagram.svg" alt="instagram" class="social-img" />
    </a>
    <a href="" class="social-a flex-container">
      <img src="/assets/twitter.svg" alt="twitter" class="social-img" />
    </a>
    <a href="" class="social-a flex-container">
      <img src="/assets/facebook.svg" alt="facebook" class="social-img" />
    </a>
  </div>
</div>
