.app{
    height: 100vh;
    width: 100%;
    background-color: rgb(19, 18, 18);
    overflow-x: hidden;
}

.container{
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 9992px) {
    .container{
        width: 80%;
    }
}